<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <iframe src="https://www.tutorialrepublic.com/codelab.php?topic=html&file=open-links-in-an-iframe" height="200" width="300"  title="description"></iframe>

        <form action = "/login" method = "post">
            <p>Enter Message:</p>
            <p><input type = "text" name = "nm" /></p>
            
            <p>Enter Color:</p>
            <p>r:</p>
            <p><input type = "number" name = "r" /></p>
            <p>g:</p>
            <p><input type = "number" name = "g" /></p>
            <p>b:</p>
            <p><input type = "number" name = "b" /></p>
            
            <p><input type = "submit" value = "submit" /></p>
        </form>  


        <table style="width:100%">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
          </table>
          



    
</body>
</html>